:root {
  --primary-color: hsl(213deg, 25%, 40%);
  --background-color: hsl(213deg, 25%, 15%);
  --text-color: hsl(40deg, 100%, 70%);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  min-height: 100%;
  min-width: 100%;
  background: var(--background-color);
  color: var(--text-color);
}

body {
  width: 100%;
  height: 100%;

  font-family: monospace;
  font-size: 14pt;
  margin: 0;
}

/* default layout (mobile-ish) */
#container {
  width: 100vw;
  height: 100vh;

  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto 90vw auto auto;
  grid-gap: 10px;
  padding: 10px;
  grid-template-areas:
    "title"
    "canvas"
    "content"
    "links";
  align-items: center;
  justify-items: center;
}

#title {
  text-align: center;
  font-size: 6vw;

  grid-area: title;
}

#canvas-container {
  height: 100%;
  width: 100%;

  grid-area: canvas;

  display: flex;
  align-items: center;
  justify-content: center;
}

#canvas {
  width: 100%;
  height: 100%;

  position: relative;
  background-color: var(--primary-color);

  border: 5px solid black;
  border-radius: 5px;
}

#content {
  padding: 10px;
  border-radius: 5px;
  background: var(--primary-color);

  grid-area: content;
}

#content p {
  margin: 15px;
}

#links {
  width: 100%;
  grid-area: links;

  display: flex;
  justify-content: center;
}
.img-link {
  margin: 20px;
  opacity: 10%;
  filter: invert(100%);
}
.img-link:hover {
  transform: scale(1.1);
  opacity: 30%;
}

/* wide layout */
@media (min-width: 600px) {

#container {
  width: 100%;
  height: 100%;

  grid-template-columns: 2fr 1fr 2fr 2fr;
  grid-template-rows: 1fr 5fr;
  grid-template-areas:
    "title title title links"
    "canvas canvas content content";
}

#title {
  font-size: 4vw;
}

}
